/* You can add global styles to this file, and also import other style files */
body{
  background-color: #e6e6e6;
  margin: 0;
}

input:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

.menu-icon {
  width: 6px;
  height: 15px;
  cursor: pointer;
  background-size: cover;
}   